<nb-card size="medium">
  <nb-card-header>
    <h3>Visitors Analytics</h3>
    <div class="subtitle">Consumption</div>
  </nb-card-header>
  <nb-card-body>
    <div class="chart-container">
      <div class="chart-header">
        <lthn-ui-legend-chart [legendItems]="chartLegend"></lthn-ui-legend-chart>
      </div>
      <lthn-ui-visitors-analytics-chart [chartData]="visitorsAnalyticsData"></lthn-ui-visitors-analytics-chart>
    </div>
  </nb-card-body>

  <lthn-ui-slide-out [showVisitorsStatistics]="true">
    <lthn-ui-visitors-statistics [value]="pieChartValue"></lthn-ui-visitors-statistics>
  </lthn-ui-slide-out>
</nb-card>
