
<div fxFlex="100" *ngIf="poolInfo" fxLayout="column, wrap">
    <ngx-toolbar >
        <ngx-toolbar-title>
            <span class="tag">HashVault Reported Stats</span>
        </ngx-toolbar-title>
        <ngx-toolbar-content>
            <i>Hourly AVG Hashrate: <strong>{{poolInfo['collective']['avg1hashRate']}}</strong></i>

            <i>Last Share: <strong>{{poolInfo['collective']['lastShare'] | amTimeAgo }}</strong></i>
            <i>Unconfirmed Balance: <strong>{{poolInfo['revenue']['unconfirmedBalance']['collective'].total}}</strong></i>
            <i>Confirmed Balance: <strong>{{poolInfo['revenue']['confirmedBalance']}}</strong></i>
        </ngx-toolbar-content>
    </ngx-toolbar>
    <div fxFlex="50">
        <table class="table">
            <thead>
            <tr>
                <th colspan="2">Pool</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Hashrate</td>
                <td>{{ poolInfo['collective']['hashRate']| hashrate }}</td>
            </tr>
            <tr>
                <td>Avg Hashrate</td>
                <td>{{ poolInfo['collective']['avg1hashRate']| hashrate }} | {{ poolInfo['collective']['avg3hashRate']| hashrate }}| {{ poolInfo['collective']['avg6hashRate']| hashrate }}| {{ poolInfo['collective']['avg24hashRate']| hashrate }}</td>
            </tr>
            <tr>
                <td>Current Effort</td>
                <td [style]="{color: poolInfo['collective']['currentEffort'] | effort}">{{ poolInfo['collective']['currentEffort'] }}%</td>
            </tr>
            <tr>
                <td>30s Share Rate</td>
                <td>{{ poolInfo['collective']['shareRate'] }}</td>
            </tr>
            <tr>
                <td>Total Hashes</td>
                <td>{{ poolInfo['collective']['totalHashes'] }}</td>
            </tr>
            <tr>
                <td>Total Shares</td>
                <td>{{ poolInfo['collective']['validShares'] }}</td>
            </tr>
            </tbody>
        </table>
    </div>
   <div fxFlex="50">
       <table class="table">
           <thead>
           <tr>
               <th colspan="2">Solo</th>
           </tr>
           </thead>
           <tbody>
           <tr>
               <td>Hashrate</td>
               <td>{{ poolInfo['solo']['hashRate']| hashrate }}</td>
           </tr>
           <tr>
               <td>Avg Hashrate</td>
               <td>{{ poolInfo['solo']['avg1hashRate']| hashrate }} | {{ poolInfo['solo']['avg3hashRate']| hashrate }}| {{ poolInfo['solo']['avg6hashRate']| hashrate }}| {{ poolInfo['solo']['avg24hashRate']| hashrate }}</td>
           </tr>
           <tr>
               <td>Current Effort</td>
               <td [style]="{color: poolInfo['solo']['currentEffort'] | effort}">{{ poolInfo['solo']['currentEffort'] }}%</td>
           </tr>
           <tr>
               <td>30s Share Rate</td>
               <td>{{ poolInfo['solo']['shareRate'] }}</td>
           </tr>
           <tr>
               <td>Total Hashes</td>
               <td>{{ poolInfo['solo']['totalHashes'] }}</td>
           </tr>
           <tr>
               <td>Total Shares</td>
               <td>{{ poolInfo['solo']['validShares'] }}</td>
           </tr>
           </tbody>
       </table>
   </div>
    <div fxFlex="100">
        <table class="table">
            <thead>
            <tr>
                <th>Miner Name</th>
                <th>Hashrate</th>
                <th>1, 3, 6 & 24h Avg Hashrate</th>
                <th>Active Miners</th>
                <th>Worker Effort</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let worker of poolInfo['collectiveWorkers']">
                <td>{{ worker['name'] }}</td>
                <td>{{ worker['hashrate'] | hashrate }}</td>
                <td>{{ worker['avg1hashRate'] | hashrate }} | {{ worker['avg3hashRate'] | hashrate }} | {{ worker['avg6hashRate'] | hashrate }} | {{ worker['avg24hashRate'] | hashrate }} | </td>
                <td>{{ worker['activeMiners'] }}</td>
                <td [style]="{color: worker['currentEffort'] | effort}">{{ worker['currentEffort'] }}%</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

