
    <div class="container-fluid" fxLayout="row, wrap" style="min-height: 500px;">
        <div>
            <ngx-button class="btn btn-default" [routerLink]="['/', 'chain']">Back</ngx-button>
            <ngx-button class="btn btn-bordered" (click)="save()">{{ 'words.actions.save' | translate}}</ngx-button>
        </div>

            <ngx-codemirror fxFlex="100" [(ngModel)]="config" [config]="{
    lineNumbers: true,
    viewportMargin: 10,
    matchBrackets: true,
    autoCloseBrackets: true,
    theme: 'dracula',
    mode: {
      name: 'application/json'
    }
  }"></ngx-codemirror>


        </div>


