<div class="container-fluid" >
        <div  style="padding: 12px 12px 3px 12px;">
            <mat-toolbar>
                <mat-toolbar-row>
                    <span class="lthn-brand">Wallet: {{ name }}</span>
                    <ngx-select [filterable]="true" (change)="openWallet($event[0])"  >
                        <ngx-select-option *ngFor="let wallet of wallets"
                                           value="{{wallet}}"
                                           name="{{wallet}}"
                        ></ngx-select-option>
                    </ngx-select>
                    <span class="flex-spacer"></span>
                    <button [routerLink]="['/', 'wallet', 'new']" mat-button matTooltip="New Wallet">
                        <mat-icon>account_balance_wallet</mat-icon>
                    </button>
                    <button [routerLink]="['/', 'wallet', 'backup']" mat-button matTooltip="Backup">
                        <mat-icon>cloud_download</mat-icon>
                    </button>
                    <button [routerLink]="['/', 'wallet', 'restore']" mat-button matTooltip="Restore">
                        <mat-icon>cloud_upload</mat-icon>
                    </button>
                    <button [routerLink]="['/', 'wallet', 'settings']" mat-button matTooltip="Settings">
                        <mat-icon>settings</mat-icon>
                    </button>
                </mat-toolbar-row>
            </mat-toolbar>
            <div>
                <ngx-section *ngIf="wallet.openedWallet === null" fxFlex="50">
                    <h1>Lethean Wallet Manager</h1>
                    <p>Please select a previous wallet using the dropdown above or use the forms below to get started</p>

                    <lthn-wallet-open></lthn-wallet-open>

                </ngx-section>
                <ngx-section *ngIf="wallet.openedWallet === null" fxFlex="50">
                <h1>Make or Add Wallet</h1>
                <lthn-wallet-add></lthn-wallet-add>

            </ngx-section>
            </div>

            <ngx-section *ngIf="wallet.openedWallet !== null">
                <ngx-tabs [vertical]="true">
                    <ngx-tab label="Details">
                        <div *ngxIfTabActive>
                            <lthn-wallet-details></lthn-wallet-details>
                        </div>
                    </ngx-tab>
                    <ngx-tab label="Transactions">
                        <div *ngxIfTabActive>
                            <lthn-wallet-transactions></lthn-wallet-transactions>
                        </div>
                    </ngx-tab>
                    <ngx-tab label="Transfer" >
                        <div *ngxIfTabActive></div>
                    </ngx-tab>
                    <ngx-tab label="Tab 4">
                        <div *ngxIfTabActive></div>
                    </ngx-tab>
                </ngx-tabs>
            </ngx-section>
        </div>

</div>
