<div class="container-fluid" fxLayout="column">
    <div fxLayout="row">
        <mat-card fxFlex="50">
            <mat-card-title>Open Wallet</mat-card-title>

            <mat-card-content>
                                    <mat-select placeholder="Select Wallet">
                                        <mat-option *ngFor="let wallet of wallets"
                                                    value="{{wallet}}"
                                                    (click)="this.openWallet(wallet)">{{wallet}}</mat-option>
                                    </mat-select>

            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="mat-elevation-z2">Open Last</button>
                <button mat-button class="mat-elevation-z2">Open Wallet File</button>
            </mat-card-actions>
        </mat-card>

        <lthn-wallet-new fxFlex="50"></lthn-wallet-new>

    </div>

</div>
