<ngx-tabs class="">
    <ngx-tab label="Wallets" >
        <ngx-section>
            <pre dbl-click-copy>{{wallet.address}}</pre>
            <lthn-wallet-open *ngIf="!wallet.address"></lthn-wallet-open>
            <lthn-wallet-details *ngIf="wallet.address"></lthn-wallet-details>
        </ngx-section>
    </ngx-tab>
    <ngx-tab label="New Wallet">
        <ngx-section>
            <lthn-wallet-add></lthn-wallet-add>
        </ngx-section>
    </ngx-tab>
    <ngx-tab label="Transactions" #consoleTab>
        <ngx-section *ngxIfTabActive>

                <lthn-wallet-transactions></lthn-wallet-transactions>

        </ngx-section>
    </ngx-tab>
    <ngx-tab label="Transfer" #consoleTab>
        <ngx-section *ngxIfTabActive>

            <h3>Balance: {{ wallet.balance.unlocked_balance | toCoin}}</h3>
            <h4 *ngIf="wallet.balance.unlocked_balance != wallet.balance.balance">Locked Balance: {{wallet.balance.balance-wallet.balance.unlocked_balance|toCoin}}</h4>
            <lthn-wallet-transfer></lthn-wallet-transfer>

        </ngx-section>
    </ngx-tab>

</ngx-tabs>

