<div class="container-fluid" >
    <div  style="padding: 12px 12px 3px 12px;">
        <mat-toolbar>
            <mat-toolbar-row>
                {{ 'app.lthn.chain.title' | translate }}
                <ng-container *ngIf="chainInfo as info">&nbsp;
                    <span *ngIf="info.target_height > 0" style="font-family: monospace; font-size: 12px;">
                    ({{info.height | number }}/{{info.target_height | number}} = {{ (info.height/info.target_height) | percent:'1.2-3' }})
                </span>
                    <span *ngIf="info.target_height === 0" style="color: green; font-size: 14px;">
                    Synchronized
                </span>
                </ng-container>
                <span class="flex-spacer"></span>
                <!--                    <button [routerLink]="['/', 'wallet', 'new']" mat-button matTooltip="New Wallet">-->
                <!--                        <mat-icon>account_balance_wallet</mat-icon>-->
                <!--                    </button>-->
                <!--                    <button [routerLink]="['/', 'wallet', 'backup']" mat-button matTooltip="Backup">-->
                <!--                        <mat-icon>cloud_download</mat-icon>-->
                <!--                    </button>-->
                <!--                    <button [routerLink]="['/', 'wallet', 'restore']" mat-button matTooltip="Restore">-->
                <!--                        <mat-icon>cloud_upload</mat-icon>-->
                <!--                    </button>-->
<!--                <button (click)="wallet.closeWallet()"  mat-button matTooltip="Close Wallet">-->
<!--                    <mat-icon>close</mat-icon>-->
<!--                </button>-->
            </mat-toolbar-row>
        </mat-toolbar>


        <ngx-section>
            <ngx-tabs [vertical]="true">
                <ngx-tab label="{{ 'app.lthn.chain.menu.blocks' | translate}}">
                    <div *ngxIfTabActive>
                        <lthn-chain-ledger></lthn-chain-ledger>
                    </div>
                </ngx-tab>
                <ngx-tab label="{{ 'app.lthn.chain.menu.stats' | translate}}">
                    <div *ngxIfTabActive>
                        <lthn-chain-stats></lthn-chain-stats>
                    </div>
                </ngx-tab>
                <ngx-tab label="{{ 'app.lthn.chain.menu.configuration' | translate}}">
                    <div *ngxIfTabActive>
                        <lthn-chain-config></lthn-chain-config>
                    </div>
                </ngx-tab>
                <ngx-tab label="{{'app.lthn.console.title' | translate}}">
                    <div *ngxIfTabActive>
                        <lthn-console attach="letheand"></lthn-console>
                    </div>
                </ngx-tab>
            </ngx-tabs>
        </ngx-section>
    </div>

</div>

