<ngx-tabs class="">
    <ngx-tab label="Chain Explorer" >
        <ngx-section>
            <lthn-chain-ledger></lthn-chain-ledger>
        </ngx-section>
    </ngx-tab>
    <ngx-tab label="Daemon Stats">
        <ngx-section>
            <lthn-chain-stats></lthn-chain-stats>
        </ngx-section>
    </ngx-tab>
    <ngx-tab label="Config">
        <ngx-section>
            <lthn-chain-config></lthn-chain-config>
        </ngx-section>
    </ngx-tab>
    <ngx-tab label="Export">
        <ngx-section>
            <lthn-console attach="letheand"></lthn-console>
        </ngx-section>
    </ngx-tab>
    <ngx-tab label="Import">
        <ngx-section>
            <lthn-console attach="letheand"></lthn-console>
        </ngx-section>
    </ngx-tab>
    <ngx-tab label="Console">
        <ngx-section>
            <lthn-console attach="letheand"></lthn-console>
        </ngx-section>
    </ngx-tab>
</ngx-tabs>
