<div class="container-fluid" fxLayout="row">
    <mat-card fxFlex="100">

            <mat-form-field fxFlex="25" appearance="fill">
                <mat-label>View Block by Hash</mat-label>
                <input type="text" matInput [formControl]="blockSearch"
                       placeholder="Block Hash. ">
                <mat-hint></mat-hint>
            </mat-form-field>
            <button [routerLink]="['/','chain', 'block', blockSearch.value]" mat-button>Go</button>


    </mat-card>
</div>
<div class="container-fluid" fxLayout="row">
    <ng-container *ngIf="status_daemon === 0">
        <mat-card fxFill="100">
            <mat-card-title>Lethean Blockchain Loading</mat-card-title>
            <mat-card-content>
                <p fxFlex="50">
                    This should only take a few seconds, for support visit <code>sparta.lt.hn</code>
                </p>
                <div fxFlex="50">
                <div
                        class="ngx-preloader"
                >
                    <div class="arc arc-0"></div>
                    <div class="arc arc-1"></div>
                    <div class="arc arc-2"></div>
                    <div class="arc arc-3"></div>
                    <div class="arc arc-4"></div>
                    <div class="arc arc-5"></div>
                    <div class="arc arc-6"></div>
                    <div class="arc arc-7"></div>
                    <div class="arc arc-8"></div>
                    <div class="arc arc-9"></div>
                    <div class="arc arc-10"></div>
                    <div class="arc arc-11"></div>
                    <div class="arc arc-12"></div>
                    <div class="arc arc-13"></div>
                    <div class="arc arc-14"></div>
                    <div class="arc arc-15"></div>
                    <div class="arc arc-16"></div>
                    <div class="arc arc-17"></div>
                    <div class="arc arc-18"></div>
                    <div class="arc arc-19"></div>
                    <div class="arc arc-20"></div>
                    <div class="arc arc-21"></div>
                    <div class="arc arc-22"></div>
                    <div class="arc arc-23"></div>
                    <div class="arc arc-24"></div>
                </div>
                </div>
            </mat-card-content>
        </mat-card>
    </ng-container>
    <ng-container *ngIf="status_daemon > 0">
    <mat-card fxFlex="25" style="padding: 0;">
        <mat-card-title style="padding: 16px;">Information</mat-card-title>
        <mat-card-content style="padding: 0;">
            <mat-list *ngIf="chainInfo | ngrxPush as info" dense>

                <mat-list-item>Status: {{info.status }}</mat-list-item>
                <mat-list-item>Daemon Start: {{info.start_time * 1000 | amTimeAgo }}</mat-list-item>
                <mat-list-item>Height: {{info.height }}</mat-list-item>
                <mat-list-item>Target Height: {{info.target_height }}</mat-list-item>
                <mat-list-item>Top:&nbsp;<span [innerHTML]="info.top_block_hash | hashLink | keepHtml" ></span></mat-list-item>
                <mat-list-item>White Peers: {{info.white_peerlist_size }}</mat-list-item>
                <mat-list-item>Grey Peers: {{info.grey_peerlist_size }}</mat-list-item>
                <mat-list-item>Difficulty: {{info.difficulty | hashrate }}</mat-list-item>
                <mat-list-item>Cumulative: {{info.cumulative_difficulty | hashrate }}</mat-list-item>
                <mat-list-item>Connect INC: {{info.incoming_connections_count }}</mat-list-item>
                <mat-list-item>Connect OUT: {{info.outgoing_connections_count }}</mat-list-item>
                <mat-list-item>TX Count: {{info.tx_count }}</mat-list-item>
                <mat-list-item>TX Pool Size: {{info.tx_pool_size }}</mat-list-item>
                <mat-list-item>Testnet: {{info.testnet }}</mat-list-item>
                <mat-list-item>Block Time: {{info.target }}</mat-list-item>
                <mat-list-item>Alt Blocks: {{info.alt_blocks_count }}</mat-list-item>
                <mat-list-item>Block Size Limit: {{info.block_size_limit }}</mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex="75">
        <mat-card-title>
            Chain Status:
            <ng-container *ngIf="chainInfo | ngrxPush as info">&nbsp;
                <span *ngIf="info.target_height > 0" style="font-family: monospace; font-size: 12px;">
                    ({{info.height | number }}/{{info.target_height | number}} = {{ (info.height/info.target_height) | percent:'1.2-3' }})
                </span>
                <span *ngIf="info.target_height === 0" style="color: green; font-size: 14px;">
                    Synchronized
                </span>
            </ng-container>

        </mat-card-title>
<!--        <mat-card-actions>-->
<!--            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">-->
<!--                <mat-icon>view_column</mat-icon>-->
<!--            </button>-->
<!--        </mat-card-actions>-->
        <mat-card-content>
            <p>The data shown here comes from your local data, accurate to the point in time you have synced;</p>
            <p>Advanced users can "pop off" blocks from their local chain to see the work at particular heights</p>
            <ngx-datatable
                    class=" ngx-datatable"
                    [rows]="(blocks | ngrxPush)?.headers"
                    [loadingIndicator]="false"
                    [columns]="columns"
                    [columnMode]="ColumnMode.force"
                    [headerHeight]="30"
                    [footerHeight]="50"
                    rowHeight="20"
                    [limit]="25"
                    [sorts]="[{ prop: 'timestamp', dir: 'desc' }]"
            >
                <ngx-datatable-column *ngFor="let col of columns" [prop]="col.prop" [name]="col.name | translate">

                    <ng-template let-value="value" ngx-datatable-cell-template>
                        <span *ngIf="col.prop === 'difficulty'">{{ value | hashrate}}</span>
                        <span *ngIf="col.prop === 'height'">{{ value | number }}</span>
                        <a class="lthn-brand" *ngIf="col.prop === 'hash'" [routerLink]="['/', 'chain', 'block', value]">{{ value | hashLink }}</a>
                        <span *ngIf="col.prop === 'orphan_status'">
                            <mat-icon style="color: green" *ngIf="!value">done</mat-icon>
                            <mat-icon style="color: red" *ngIf="value">close</mat-icon>
                          </span>
                        <span *ngIf="col.prop === 'timestamp'">{{ value | amFromUnix }}</span>
                        <span *ngIf="col.prop === 'block_size'">{{ value | number }}</span>
                        <span *ngIf="col.prop === 'depth'">{{ value | number }}</span>
                        <span *ngIf="col.prop === 'major_version'">{{ value  }}</span>
                        <span *ngIf="col.prop === 'minor_version'">{{ value | number }}</span>
                        <span *ngIf="col.prop === 'nonce'">{{ value  }}</span>
                        <span *ngIf="col.prop === 'num_txes'">{{ value | number }}</span>
                        <span *ngIf="col.prop === 'prev_hash'">{{ value }}</span>
                    </ng-template>

                </ngx-datatable-column>

            </ngx-datatable>


<!--            <mat-menu #menu="matMenu">-->
<!--                <button mat-menu-item *ngFor="let col of allColumns" (click)="toggle(col)">-->
<!--                    <input type="checkbox" [id]="col.name" (click)="toggle(col)" [checked]="isChecked(col)" disabled/>&nbsp;-->
<!--                    <label [attr.for]="col.name">{{ col.name }}</label>-->
<!--                </button>-->
<!--            </mat-menu>-->
        </mat-card-content>
    </mat-card>
    </ng-container>
</div>
