<div class="row">
    <div class="col-xl-4">
        <nb-card>
            <nb-card-header>Files</nb-card-header>
            <nb-card-body>
                <lthn-tree-menu
                        [value]="nodes"
                ></lthn-tree-menu>

                <nb-list>
                    <nb-list-item *ngFor="let file of fileTree">
                        <nb-icon *ngIf="file.isDirectory" icon="folder-outline"></nb-icon>
                        <nb-icon *ngIf="file.isFile" (click)="openFile(file);" icon="file-outline"></nb-icon>
                        {{file.name}}
                    </nb-list-item>
                </nb-list>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-xl-8">
        <nb-card>
            <nb-card-header>Viewer</nb-card-header>
            <nb-card-body>
<lthn-files-edit></lthn-files-edit>
            </nb-card-body>
        </nb-card>
    </div>
</div>
