<ngx-tabs class="" #tabs>
    <ngx-tab label="Dashboard" #tab1>
            <ngx-section *ngIf="(apps | keyvalue)?.length == 0">
               <p>You have no apps installed</p>
                {{ apps | json }}
                <button class="btn btn-primary-gradient" (click)="tabs.tabClicked(tab2)">View Installable Apps</button>
            </ngx-section>
        <ngx-section *ngIf="(apps | keyvalue)?.length > 0">
            <lthn-chain-status *ngIf="apps['blockchain-lthn']"></lthn-chain-status>
            <xmr-chain-status  *ngIf="apps['blockchain-xmr']"></xmr-chain-status>
            <lthn-xmrig-status  *ngIf="apps['miner-xmrig']"></lthn-xmrig-status>
        </ngx-section>
    </ngx-tab>
    <ngx-tab label="Apps" #tab2>
        <ngx-section *ngxIfTabActive >
            <span class="tag tag-bordered" (click)="getAppMarket()" >Homepage</span>

            <ng-container *ngIf="market['dirs']">
                <span class="tag tag-bordered" (click)="getAppMarket(dir)"  *ngFor="let dir of market['dirs']">{{dir}}</span>
            </ng-container>

            <ngx-card *ngFor="let app of market['apps']">
                <ngx-card-header>
                    <ngx-card-avatar src="assets/icons/icon-96x96.png" [status]="apps[ app['code']] ? 'success' : 'disabled' "></ngx-card-avatar>
                    <ngx-card-title> {{ app['name'] }}</ngx-card-title>
                    <ngx-card-subtitle *ngIf="app['version']"> {{ app['version'] }}</ngx-card-subtitle>
                </ngx-card-header>
                <ngx-card-section>
                    <button class="btn btn-bordered" *ngIf="!apps[ app['code']]" (click)="installApp( app)" >Install</button>
                    <button class="btn btn-bordered" *ngIf="apps[ app['code']]" (click)="removeApp( app)" >Remove</button>
                </ngx-card-section>
            </ngx-card>
        </ngx-section>
    </ngx-tab>
    <ngx-tab label="Installed" #tab3>
        <ngx-section *ngxIfTabActive >
            <ngx-card *ngFor="let app of apps | keyvalue">

                <ngx-card-header>

                    <ngx-card-title> {{ app.value['name'] }}</ngx-card-title>
                    <ngx-card-subtitle *ngIf="app.value['version']"> {{ app.value['version'] }}</ngx-card-subtitle>
                </ngx-card-header>
                <ngx-card-section>
                    <button class="btn btn-bordered" (click)="removeApp( app.value)" >Remove</button>
                </ngx-card-section>
            </ngx-card>
        </ngx-section>
    </ngx-tab>

</ngx-tabs>
