<ngx-tabs class=""  #tabs>
    <ngx-tab label="Installed" #tab1 >
<!--        <ngx-section>-->
<!--       <p>You have no apps installed</p>-->
<!--        <button class="btn btn-primary-gradient" (click)="tabs.tabClicked(tab2)">View Installable Apps</button>-->
<!--        </ngx-section>-->
        <ngx-section>
        <lthn-chain-status></lthn-chain-status>
            <lthn-xmrig-status></lthn-xmrig-status>
        </ngx-section>
    </ngx-tab>
<!--    <ngx-tab label="Marketplace" #tab2>-->
<!--        <ngx-section>-->
<!--            <ngx-card>-->
<!--                <ngx-card-header>-->
<!--                    <ngx-card-avatar status="default"> LTHN </ngx-card-avatar>-->
<!--                    <ngx-card-title> Lethean Blockchain </ngx-card-title>-->
<!--                    <ngx-card-subtitle> v4.0.7 </ngx-card-subtitle>-->
<!--                </ngx-card-header>-->
<!--                <ngx-card-section>-->
<!--                    <button class="btn btn-bordered">Install</button>-->
<!--                </ngx-card-section>-->
<!--            </ngx-card>-->

<!--            <ngx-card>-->
<!--                <ngx-card-header>-->
<!--                    <ngx-card-avatar status="default"> WRKZ </ngx-card-avatar>-->
<!--                    <ngx-card-title> WrkzCoin Blockchain </ngx-card-title>-->
<!--                    <ngx-card-subtitle> card_subtitle </ngx-card-subtitle>-->
<!--                </ngx-card-header>-->
<!--                <ngx-card-section>-->
<!--                    <button class="btn btn-bordered">Install</button>-->
<!--                </ngx-card-section>-->
<!--            </ngx-card>-->
<!--            <ngx-card>-->
<!--                <ngx-card-header>-->
<!--                    <ngx-card-avatar status="default"> XHV </ngx-card-avatar>-->
<!--                    <ngx-card-title> Haven Blockchain </ngx-card-title>-->
<!--                    <ngx-card-subtitle> card_subtitle </ngx-card-subtitle>-->
<!--                </ngx-card-header>-->
<!--                <ngx-card-section>-->
<!--                    <button class="btn btn-bordered">Install</button>-->
<!--                </ngx-card-section>-->
<!--            </ngx-card>-->
<!--        </ngx-section>-->
<!--    </ngx-tab>-->
<!--    <ngx-tab label="Developer">-->
<!--        <ngx-section>-->
<!--<lthn-app-editor></lthn-app-editor>-->
<!--        </ngx-section>-->
<!--    </ngx-tab>-->
<!--    <ngx-tab label="Documentation">-->

<!--    </ngx-tab>-->
</ngx-tabs>
