<ngx-tabs class="" #tabs>
    <ngx-tab label="Installed (1)" #tab1 >
<!--        <ngx-section>-->
<!--       <p>You have no apps installed</p>-->
<!--        <button class="btn btn-primary-gradient" (click)="tabs.tabClicked(tab2)">View Installable Apps</button>-->
<!--        </ngx-section>-->
        <ngx-section>
        <lthn-chain-status></lthn-chain-status>
        </ngx-section>
    </ngx-tab>
<!--    <ngx-tab label="Marketplace" #tab2>-->
<!--        <ngx-section>-->
<!--            <div *ngIf="downloading['app.chain.lthn']"><h3>Downloading Blockchain Binaries</h3>-->
<!--                Downloaded: {{downloadStats.total | number}}-->
<!--                Of {{downloadStats.size | number}}-->
<!--                <mat-progress-bar mode="determinate" color="accent" [value]="downloadStats.total/downloadStats.size*100" ></mat-progress-bar></div>-->
<!--        </ngx-section>-->
<!--    </ngx-tab>-->
<!--    <ngx-tab label="Developer">-->

<!--    </ngx-tab>-->
<!--    <ngx-tab label="Documentation">-->

<!--    </ngx-tab>-->
</ngx-tabs>