<mat-card>
    <mat-card-title>{{ 'plugin.lthn.wallet.titles.restore-seed' | translate }}</mat-card-title>
    <mat-card-content>
        <form [formGroup]="restoreWalletForm">
            <section>
                <mat-form-field appearance="standard">
                    <mat-label>{{ 'plugin.lthn.wallet.label.filename' | translate }}</mat-label>
                    <input matInput type="text" formControlName="filename">
					<mat-error *ngIf="restoreWalletForm.get('filename')?.errors?.['nameTaken']">Wallet already exists</mat-error>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>{{ 'plugin.lthn.wallet.label.wallet-password' | translate }}</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>{{ 'plugin.lthn.wallet.label.wallet-password-confirm' | translate }}</mat-label>
                    <input matInput type="password" formControlName="password_confirm">
                </mat-form-field>
            </section>

            <section>
                <mat-form-field class="full_width" appearance="standard">
                    <mat-label>{{ 'plugin.lthn.wallet.label.address' | translate }}</mat-label>
                    <input matInput type="text" formControlName="address">
                </mat-form-field>
            </section>



            <mat-form-field *ngIf="!restoreWalletForm.value.viewonly_wallet" class="full_width" appearance="standard">
                <mat-label>{{ 'plugin.lthn.wallet.label.spend-key' | translate }}</mat-label>
                <input matInput type="password" formControlName="spendkey">
            </mat-form-field>

            <mat-form-field class="full_width" appearance="standard">
                <mat-label>{{ 'plugin.lthn.wallet.label.view-key' | translate }}</mat-label>
                <input matInput type="password" formControlName="viewkey">
            </mat-form-field>

            <mat-expansion-panel>

                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Optional parameters
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-form-field appearance="standard">
                    <mat-label>{{ 'plugin.lthn.wallet.label.restore-height' | translate }}</mat-label>
                    <input matInput type="text" formControlName="restore_height">
                </mat-form-field>

                <section>
                    <mat-checkbox formControlName="autosave_current">{{ 'plugin.lthn.wallet.label.autosave' | translate }}</mat-checkbox>
                </section>

                <section>
                    <mat-checkbox formControlName="viewonly_wallet">View only wallet</mat-checkbox>
                </section>

            </mat-expansion-panel>

            <p>
                <button mat-button (click)="restoreWallet()">{{ 'plugin.lthn.wallet.button.restore-wallet' | translate }}</button>
            </p>

        </form>
    </mat-card-content>
</mat-card>



