<div class="main-container">
    <ngx-toolbar style="height: 58px;">
        <ngx-toolbar-title>
            <ngx-navbar style="margin-left: 0px;" [active]="activeRoute">

                    <ngx-navbar-item *ngFor="let menu of menuItems" [routerLink]="menu.app ? ['/', 'app', menu.app] : menu.url" title="{{ menu.title | translate }}">
                        <fa-icon [icon]=" menu.icon"></fa-icon>
                    </ngx-navbar-item>

            </ngx-navbar>
        </ngx-toolbar-title>

        <ngx-toolbar-content>

            &nbsp;
            <mat-menu #appMenu="matMenu">
                <ng-template let-name="name" matMenuContent>
                    <mat-list-item>
                        <a (click)="changeLanguage('en')" mat-button color="accent">
                            <img src="assets/flags/1x1/en.svg" width="16"
                                 alt="{{ 'lang.en' | translate }}">&nbsp;&nbsp;{{ 'lang.en' | translate }}
                        </a>
                    </mat-list-item>
                    <mat-list-item>
                        <a (click)="changeLanguage('ru')" mat-button color="accent">
                            <img src="assets/flags/1x1/ru.svg" width="16"
                                 alt="{{ 'lang.ru' | translate }}">&nbsp;&nbsp;{{ 'lang.ru' | translate }}
                        </a>
                    </mat-list-item>
                    <mat-list-item>
                        <button (click)="changeLanguage('zh')" mat-button color="accent">
                            <img src="assets/flags/1x1/zh.svg" width="16"
                                 alt="{{ 'lang.zh' | translate }}">&nbsp;&nbsp;{{ 'lang.zh' | translate }}
                        </button>
                    </mat-list-item>
                    <mat-list-item>
                        <a (click)="changeLanguage('es')" mat-button color="accent">
                            <img src="assets/flags/1x1/es.svg" width="16"
                                 alt="{{ 'lang.es' | translate }}">&nbsp;&nbsp;{{ 'lang.es' | translate }}
                        </a>
                    </mat-list-item>
                    <mat-list-item>
                        <a (click)="changeLanguage('de')" mat-button color="accent">
                            <img src="assets/flags/1x1/de.svg" width="16"
                                 alt="{{ 'lang.de' | translate }}">&nbsp;&nbsp;{{ 'lang.de' | translate }}
                        </a>
                    </mat-list-item>
                    <mat-list-item>
                        <a (click)="changeLanguage('fr')" mat-button color="accent">
                            <img src="assets/flags/1x1/fr.svg" width="16"
                                 alt="{{ 'lang.fr' | translate }}">&nbsp;&nbsp;{{ 'lang.fr' | translate }}
                        </a>
                    </mat-list-item>


                </ng-template>
            </mat-menu>

            <button [matMenuTriggerFor]="appMenu"
                    mat-icon-button>
                <img src="assets/flags/1x1/{{ this.currentLanguage  }}.svg" width="24">
            </button>
        </ngx-toolbar-content>
    </ngx-toolbar>
    <div class="page">
        <router-outlet></router-outlet>
    </div>

</div>

