<div *ngIf="wallet['balance']">
    <nb-card>
        <nb-card-header>Wallet: {{wallet.address}}</nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-4" *ngIf="wallet.balance['balance']">
                    <dt>Balance</dt>
                    <dd>{{ wallet.balance['balance'] | toCoin }}</dd>
                    <dt>Available to spend</dt>
                    <dd>{{ wallet.balance['unlocked_balance'] | toCoin }}</dd>
                </div>
                <div class="col-4">
                    <dt>Transactions</dt>
                    <dd>{{ transactions.length }}</dd>
                </div>
            </div>

        </nb-card-body>
    </nb-card>
</div>
