<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <lthn-ui-profit-card></lthn-ui-profit-card>
      </div>
      <div class="col-md-6">
        <lthn-ui-earning-card></lthn-ui-earning-card>
      </div>
    </div>

    <lthn-ui-traffic-reveal-card></lthn-ui-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <lthn-ui-ecommerce-charts></lthn-ui-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <lthn-ui-country-orders></lthn-ui-country-orders>
  </div>

  <div class="col-xxl-3">
    <lthn-ui-progress-section></lthn-ui-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <lthn-ui-ecommerce-visitors-analytics></lthn-ui-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <lthn-ui-user-activity></lthn-ui-user-activity>
  </div>
</div>
