<lthn-wallet-details *ngIf="wallet.address"></lthn-wallet-details>

    <div class="row">
        <div class="col-4">
            <nb-card>
                <nb-card-header>Wallets</nb-card-header>
                <lthn-wallet-open></lthn-wallet-open>
            </nb-card>

        </div>
        <div class="col-8">
            <nb-card>
                <nb-card-header>New Wallet</nb-card-header>
                <lthn-wallet-add></lthn-wallet-add>
            </nb-card>

        </div>
    </div>

<ng-container label="Transactions" *ngIf="wallet.address" #consoleTab>
    <nb-card>
        <lthn-wallet-transactions></lthn-wallet-transactions>

    </nb-card>


</ng-container>
<ng-container label="Transfer" *ngIf="wallet.address" #consoleTab>

    <h3>Balance: {{ wallet.balance.unlocked_balance | toCoin}}</h3>
    <h4 *ngIf="wallet.balance.unlocked_balance != wallet.balance.balance">Locked
        Balance: {{wallet.balance.balance - wallet.balance.unlocked_balance|toCoin}}</h4>
    <lthn-wallet-transfer></lthn-wallet-transfer>

</ng-container>


