<!--<mat-card>-->


<!--&lt;!&ndash;    <div *ngIf="error.length > 0">{{error}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-form-field appearance="standard">&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-label>Username</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input [formControl]="username" (keyup)="inputChanged()" matInput type="text">&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-form-field appearance="standard">&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-label>Password</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input [formControl]="password" (keyup)="inputChanged()" matInput type="password">&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-form-field>&ndash;&gt;-->

<!--    <button mat-button (click)="submit()">Login</button>-->

<!--</mat-card>-->

