
    <ngx-section class="ngx-flex--col"  [sectionCollapsible]="false" sectionTitle="Block Details"  >
        <mat-list *ngIf="block" >
            <mat-list-item>ID: <span class="lthn-brand">{{ id }}</span></mat-list-item>
            <mat-list-item>Block Size: <span class="lthn-brand">{{ block.block_size }}</span></mat-list-item>
            <mat-list-item>Depth from Top Block: <span class="lthn-brand">{{ block.depth }}</span></mat-list-item>
            <mat-list-item>Difficulty of this block: <span class="lthn-brand">{{ block.difficulty }}</span></mat-list-item>
            <mat-list-item>Block Height: <span class="lthn-brand">{{ block.height }}</span></mat-list-item>
            <mat-list-item>Block Major Version: <span class="lthn-brand">{{ block.major_version}}</span></mat-list-item>
            <mat-list-item>Block Minor Version: <span class="lthn-brand">{{ block.minor_version}}</span></mat-list-item>
            <mat-list-item>Block Solution: <span class="lthn-brand">{{ block.nonce}}</span></mat-list-item>
            <mat-list-item>Block Transactions: <span class="lthn-brand">{{ block.num_txes}}</span></mat-list-item>
            <mat-list-item>Orphan Status: <span class="lthn-brand">{{ block.orphan_status }}</span></mat-list-item>
            <mat-list-item>Minted Time: <span class="lthn-brand">{{ block.timestamp  | amFromUnix }}</span></mat-list-item>
            <mat-list-item>Reward: <span class="lthn-brand">{{ block.reward |toCoin }}</span></mat-list-item>
<!--            <mat-list-item>Previous block: <a [routerLink]="['/', 'chain', 'block', block.prev_hash ]"  class="lthn-brand">{{ block.prev_hash }}</a></mat-list-item>-->
        </mat-list>
    </ngx-section>
