<div class="row">
    <div class="col-xxl-12">
        <nb-card>
            <nb-card-header>Block: {{ id }}</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-4">
                        <button nbButton [routerLink]="['/', 'chain']">Back to chain</button>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-xl-6">
        <nb-card>
            <table class="table striped" *ngIf="blockData">
                <thead>
                <tr>
                    <th>{{'app.lthn.chain.words.hash' | translate}}</th>
                    <th>{{ id | hashLink }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{'app.lthn.chain.words.depth' | translate}}</td>
                    <td>{{ block.depth }}</td>
                </tr>
                <tr>
                    <td>{{'app.lthn.chain.words.height' | translate}}</td>
                    <td>{{ block.height }}</td>
                </tr>
                <tr>
                    <td>{{'app.lthn.chain.words.nonce' | translate}}</td>
                    <td>{{ block.nonce }}</td>
                </tr>
                <tr>
                    <td>{{'app.lthn.chain.words.reward' | translate}}</td>
                    <td>{{ block.reward |toCoin  }}</td>
                </tr>
                <tr>
                    <td>{{'app.lthn.chain.words.tx_count' | translate}}</td>
                    <td>{{ block.num_txes }}</td>
                </tr>
                <tr>
                    <td>{{'app.lthn.chain.words.miner_tx' | translate}}</td>
                    <td>{{ blockData['miner_tx']['vout'][0]['target']['key'] | hashLink }}</td>
                </tr>

                <tr>
                    <td>{{'app.lthn.chain.words.timestamp' | translate}}</td>
                    <td>{{ block.timestamp | amFromUnix  }}</td>
                </tr>
                <tr>
                    <td>{{'app.lthn.chain.words.difficulty' | translate}}</td>
                    <td>{{ block.difficulty }}</td>
                </tr>
                <tr>
                    <td>{{'app.lthn.chain.words.block_size' | translate}}</td>
                    <td>{{ block.block_size }}</td>
                </tr>
                <tr>
                    <td>{{'app.lthn.chain.words.version' | translate}}</td>
                    <td>{{ block.major_version }}.{{ block.minor_version}}</td>
                </tr>

                </tbody>
                <tbody>

                </tbody>
            </table>
        </nb-card>
    </div>
    <div class="col-xl-6">
        <nb-card>
            <lthn-chain-block-transactions [blockData]="blockData"></lthn-chain-block-transactions>
        </nb-card>
    </div>
</div>









