<ng-container *ngIf="blocks">
    <div class="col-md-12">
        <nb-card class="list-card" size="small">
            <nb-card-header>Lethean Blocks</nb-card-header>
            <nb-list>
                <nb-list-item *ngFor="let block of blocks['headers']" >
                   Height: {{block['height']}} Txs:{{ block['num_txes']}} Hash: {{block['hash']}}
                </nb-list-item>
            </nb-list>
        </nb-card>
    </div>
</ng-container>
<ng-container *ngIf="!blocks">
    <h1>Blockchain Daemon Loading, this might take awhile.</h1>
</ng-container>
