<nb-card>
    <nb-card-header>Block Miner Reward</nb-card-header>
    <nb-list>
        <nb-list-item>
            {{'app.lthn.chain.words.hash' | translate}}: {{ blockData['miner_tx']['vout'][0]['target']['key']|hashLink }}
        </nb-list-item>
        <nb-list-item>
            {{'app.lthn.chain.words.reward' | translate}}: {{ blockData['miner_tx']['vout'][0]['amount'] | toCoin }}
        </nb-list-item>
        <nb-list-item>
            {{ blockData['miner_tx']['unlock_time'] }}
        </nb-list-item>
    </nb-list>
</nb-card>

<nb-card>
    <nb-card-header>Block Transactions</nb-card-header>
    <nb-list>
        <nb-list-item *ngFor="let tx of blockData['tx_hashes']">{{ tx }}</nb-list-item>
    </nb-list>
</nb-card>




