
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';
/* Google Material Icons */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');
/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-ui/index.css';


.appearance-table {
	width: 100%;

	td,
	th {
		padding: 10px;
	}
}

body {    overscroll-behavior: none;}
/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
	color: #c6cbff!important;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /*  make scrollbar invisible */
}


.flex-spacer {
  flex: 1 1 auto;
}

.full_width {
	width: 100%;
}
