@import "styles/material-lethean-theme";
@import "node_modules/angular-notifier/styles.scss";
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';
/* Google Material Icons */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');
body {    overscroll-behavior: none;}
/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /*  make scrollbar invisible */
}


.flex-spacer {
  flex: 1 1 auto;
}

.full_width {
	width: 100%;
}
.mat-form-field {
	padding-right: 10px;
}

.wallet-add-container {
	max-width: 1000px;
	position: relative;

	.mat-tab-header {
		position: absolute;
		z-index: 2;
		right: 0;
		border-bottom: 0px;

		label {
			margin-bottom: 0px;
		}
	}

	.mat-tab-label {
		min-width: 0px;
	}
}
