<div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
    <lthn-ui-status-card [title]="statusCard.title" [type]="statusCard.type">
      <i [ngClass]="statusCard.iconClass"></i>
    </lthn-ui-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <lthn-ui-temperature></lthn-ui-temperature>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <lthn-ui-electricity></lthn-ui-electricity>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-9 col-xl-12">
    <lthn-ui-rooms></lthn-ui-rooms>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    <lthn-ui-contacts></lthn-ui-contacts>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <lthn-ui-solar [chartValue]="solarValue"></lthn-ui-solar>

    <lthn-ui-kitten></lthn-ui-kitten>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <lthn-ui-traffic></lthn-ui-traffic>
    <lthn-ui-weather></lthn-ui-weather>
  </div>

  <div class="col-xxxl-6 col-xxl-12 col-md-7">
    <lthn-ui-security-cameras></lthn-ui-security-cameras>
  </div>
</div>
