<nb-card>
    <nb-card-header>
        <span>Application Settings</span>
    </nb-card-header>
    <nb-card-body>
        <table class="table">
            <thead>
            <tr>
                <th>Setting</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>setting_value</td>
                <td><input type="text" name="setting"/></td>
            </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>

